.danger {
    background-color: #ffdddd;
    border-left: 0.6em solid #f44336;
    padding: 1em 0.4em 0.1em 1em;
    margin-bottom: 4em;
    line-height: 1.4;
}

.info {
    background-color: #ddffdd;
    border-left: 0.6em solid #4CAF50;
    padding: 1em 0.4em 0.1em 1em;
    margin-bottom: 4em;
    line-height: 1.4;
}

.note {
    background-color: #ffffcc;
    border-left: 0.6em solid #ffeb3b;
    padding: 1em 0.4em 0.1em 1em;
    margin-bottom: 4em;
    line-height: 1.4;
}

.midAlign {
    text-align: center;
}

.book-body .body-inner .page-wrapper .page-inner {
	max-width: 900em;
}

.book-summary .summary .divider {
    display: none;
}

.book-summary .summary>li:last-child {
    display: none;
}

.book-body .navigation-next, .book-body .navigation-prev {
    display: none;
}

.markdown-section ul p, .markdown-section ol p, .markdown-section dl p {
    margin-bottom: 0;
}

.markdown-section ul li, .markdown-section ol li, .markdown-section dl li {
    margin-top: 0.6em;
}

.book-summary ul.summary {
    margin-bottom: 2em;
}
