.danger {
    background-color: #ffdddd;
    border-left: 8px solid #f44336;
    padding: 15px 6px 2px 15px;
    margin-bottom: 60px;
    line-height: 1.4;
}

.info {
    background-color: #ddffdd;
    border-left: 8px solid #4CAF50;
    padding: 15px 6px 2px 15px;
    margin-bottom: 60px;
    line-height: 1.4;
}

.note {
    background-color: #ffffcc;
    border-left: 8px solid #ffeb3b;
    padding: 15px 6px 2px 15px;
    margin-bottom: 60px;
    line-height: 1.4;
}

td .danger {
  margin-bottom: 10px;
}

td .info {
  margin-bottom: 10px;
}

td .note {
  margin-bottom: 10px;
}

.midAlign {
    text-align: center;
}

.book-body .body-inner .page-wrapper .page-inner {
	max-width: 1000px;
}

.book-summary .summary .divider {
    display: none;
}

.book-summary .summary>li:last-child {
    display: none;
}

.book-body .navigation-next, .book-body .navigation-prev {
    display: none;
}

.markdown-section ul p, .markdown-section ol p, .markdown-section dl p {
    margin-bottom: 0;
}

.markdown-section ol ol {
  list-style-type: lower-alpha;
}

.markdown-section ul li, .markdown-section ol li, .markdown-section dl li {
    margin-top: 8px;
}

.book-summary ul.summary {
    margin-bottom: 30px;
}

.markdown-section code {
    padding: 1px;
    margin: 0;
    font-size: .85em;
    color: lightcoral;
    background-color: #f7f7f7;
    border-width: thin;
}

.markdown-section pre>code {
    color: #333333;
}

.markdown-section img {
    margin: 5px 5px 5px 5px;
    -moz-box-shadow:    3px 3px 10px 3px #ccc;
    -webkit-box-shadow: 3px 3px 10px 3px #ccc;
    box-shadow:         3px 3px 10px 3px #ccc;
}

a.btn.pull-right.js-toolbar-action {
    display: none;
}

.dropdown.pull-right.js-toolbar-action {
    display: none;
}
